<div class="solidTop"></div>
<div class="gradientTop"></div>

<div class="sideNav">
  <% @root_pages.each do |page| %>
    <div class="sideNavElement"><%= page.title %></div>
  <% end %>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-pills affix" style="position:fixed;top:10px;z-index:20;">
      <% @root_pages.each do |page| %>
        <li><a href="<%= page.title %>"><%= page.title %></a></li>
      <% end %>
    </ul>
  </div>
  <% if @child_pages.present? %>
    <div class="span4 pull-right">
      <div class="well affix" style="z-index:20;">
        <ul class="nav nav-list">
          <li class="nav-header">Subsections</li>
          <% @child_pages.each do |page| %>
            <li><a href="<%= page.title %>"><%= page.title %></a><br/></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @child_pages.present? %>
    <div class="span8">
  <% else %>
    <div class="span12">
  <% end %>
    <div class="hero-unit">
      <% @home_page.each do |page| %>
        <h2 id="pageTitle"><%= page.title %></h2>
      <% end %>
      <% @home_page.each do |page| %>
        <p id="pageBody">
          <%= page.body.html_safe %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div class="gradientBottom"></div>
<div class="solidBottom"></div>
