<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<img src="<%= @image.url %>"/>

<p>
  <strong>Page:</strong>
  <%= @image.page_id %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @image.gallery_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @image.post_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
